<ion-header>
  <ion-navbar>
    <ion-title>
      WeAreNexen Cordova SDK demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button (click)="startScanning()" *ngIf="!isScanning">Start foreground scanning</button>
    <button ion-button (click)="stopScanning()" *ngIf="isScanning">Stop foreground scanning</button>

    <div class="data" *ngIf="isScanning">
        <h2>Beacons</h2>
        <ion-card *ngFor="let beacon of beacons" (click)="onBeaconTapped(beacon)">
            <ion-card-header>{{ beacon.name }}</ion-card-header>
            <ion-card-content>id: {{ beacon.id }}</ion-card-content>
        </ion-card>

        <ion-card *ngIf="!beacons || beacons.length === 0">
            <ion-card-header>No beacons found</ion-card-header>
        </ion-card>

        <h2>Locations</h2>
        <ion-card *ngFor="let location of locations">
            <ion-card-header>{{ location.name + ' (ID: ' + location.id + ')' }}</ion-card-header>
        </ion-card>

        <ion-card *ngIf="!locations || locations.length === 0">
            <ion-card-header>No locations received</ion-card-header>
        </ion-card>

    </div>

</ion-content>
